#first-section {
	color: blue;
	background-color: #ef2b2d;
	width: 200px;
	margin: 100px;
	
}

#second-section {
	background-color: #0051BA;
	width: 200px;
	margin: 50px 20px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
}

#red {
	background-color: red;
	border: 1px black solid;
}

#blue {
	background-color: blue;
	border-style: ridge solid dotted dashed;
	border-color: yellow;
	border-width: 10px 5px 2px 1px;
}

#green {
	background-color: green;
	border-radius: 50px;
}

.square {
	width: 100px;
	height: 100px;
	margin: 40px;
	float: left;
}

.text-section {
	font-family: 'Rubik Mono One', sans-serif;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underlined {
	text-decoration: underline;
}

.big {
	font-size: 200%;
}

body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: green;
}