#first-section {
	color: blue;
	background-color: #ef2b2d;
	width: 200px;
	float: left;
}

#second-section {
	background-color: #0051BA;
	width: 200px;
	float: right;
}

.clear-float {
	clear: both;
}