#topBar {
	width: 1000px;
	margin: 0 auto;
	height: 40px;
}

#logo {
	margin-top: 8px;
	float: left;
	margin-right: 8px;
}

#signin-logo {
	width: 25px;
	margin: 12px;
	float: left;
}

#down-arrow {
	width: 9px;
	margin: 12px;
	margin-top: 20px;
	float: right;
}

#signin-text {
	font-weight: bold;
	font-size: 80%;
	position: relative;
	top: 12px;
	padding-right: 80px;
}

#more-text {
	font-weight: bold;
	font-size: 80%;
	position: relative;
	top: 12px;
	padding-right: 55px;
	margin: 12px;
}

.topBar-menu {
	font-weight: bold;
	font-size: 80%;
	position: relative;
	top: 12px;
	margin: 12px;
}

.topBar-section {
	float: left;
	border-left: 1px #CCCCCC solid;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}