#topBar {
	width: 1000px;
	margin: 0 auto;
	height: 40px;
}

#logo {
	margin-top: 8px;
	float: left;
	margin-right: 8px;
}

#signin-logo {
	width: 25px;
	margin: 12px;
	float: left;
}

.topBar-section {
	float: left;
	border-left: 1px #CCCCCC solid;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}